/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *4F345A colr purple
 A7B3A5 greensh grey
 FAFFEC light yellow
 *= require_tree .
 *= require_self
 */
 body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #eff3e8; */
    background-color:#e8f8f9;
    }
    h1 {
        text-align: center;
        font-family: 'Pacifico', cursive;
    }
h2 ,h3 ,h3 ,h4 {
    font-family: 'Baskervville', serif;
}

header {
    /*background-color: #93C48B ; */
    background-color: #31352E;
    text-align: center;
    padding: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: #AFCCA9;
    border-bottom: 5px solid #AFCCA9;
}
.change-my-color {
    filter: invert(93%) sepia(12%) saturate(558%) hue-rotate(56deg) brightness(86%) contrast(85%);
  }
.filter-img {
    filter: invert(56%) sepia(7%) saturate(153%) hue-rotate(325deg) brightness(86%) contrast(83%);
}
header a{
    color : #AFCCA9;
}
header a:hover {
    text-decoration: none;
    color: #AFCCA9;
   }
   header h1{
    align-self: center;
}
.banner{
display: flex;
flex-direction: column;
padding-right: 30px;
}
.maincon {
   font-size: 20px;
   padding-left:75px; 
  align-self: center;
}
.recipe {
    align-self: center;
    flex-flow: nowrap;
    width: 76%;
    font-size: 20px;
    padding: 10px 80px;
    background-color: white;
    border-radius: 25px;
 }
#by {
    text-align: center;
    font-family: 'Baskervville', serif;
}
pre {
    font-family: 'Times New Roman', Times, serif;
    overflow-x: auto;
 white-space: pre-wrap;
 white-space: -moz-pre-wrap !important;
 white-space: -pre-wrap;
 white-space: -o-pre-wrap;
 word-wrap: break-word;
 padding: 0 10px;
}

.bg{
    padding: 10px 80px;
    background-color: white;
    border-radius: 25px;
}

 .cforms {
    align-self:center;
    text-align: center;
    width: 76%;
    justify-content: space-between;
 }
 .forms {
    align-self:center;
    text-align: center;
    padding: 10px 80px;
   background-color: white;
   border-radius: 25px;
   max-width: 90%;
 }
.imgtotext {
    display: flex;
    justify-content: space-around;
    line-height: 2.0;
}
.imgg {
height: 350px;
width: auto;
max-width: 500px;
border: 1px solid wheat;
border-radius: 15px;
}
a {
    text-decoration: none;
}
textarea {
    border-radius: 5px;
    border-color: lightgrey;
    line-height: 1.6;
}
.card {
    text-align: center;
    width: 300px;
     background-color: white;
    margin: 10px;
    color: black;
    border-radius:25px;
}
.card-img-top {
height: 290px;
width: 290px;
align-self: center;
padding: 8px;
border-radius: 25px;

}

.btn-light {
    background-color: #A7B3A5;
    border: none;
    margin: 2px;
    color : white;
    min-width: 80px;
}
.newbtn{
    background-color: #A7B3A5;
    border: none;
    color: black;
    border-radius:5px;
    margin: 10px;
    padding: 5px;
}
.btn-secondary {
    background-color: #FAFFEC;
    border: none;
    color: black;
    margin: 5px;
}
.btn-dark {
min-width: 70px;
}
.sb{
    display: flex;
justify-content: space-between;
}
#name {
    text-align: center;
}



/* Dropdown Button */
.dropbtn {
    background-color: #FAFFEC;
    color: black;
    padding: 7px;
    font-size: 16px;
    border: 1px solid;
    border-radius:10px;
    min-width: 100px;
    margin-top: 5px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius:10px ;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #A7B3A5;}